.snapwidget-widget {
  width: 100% !important;
  max-width: 80rem !important;
  height: 45rem !important;
  padding-top: 2rem;
  margin: 0 auto !important;
  padding: 0 !important;
  border: none !important;
  box-shadow: none !important;
}
