.navbar-transparent.scrolled {
  background-color: rgba(2, 10, 39, 0.95);
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
}

.nav-link {
  position: relative;
  transition: all 0.3s ease;
}

.nav-link::after {
  content: '';
  position: absolute;
  bottom: -5px;
  left: 50%;
  width: 0;
  height: 2px;
  background: linear-gradient(90deg, #f0f0f0, #3b82f6);
  transform: translateX(-50%);
  transition: width 0.3s ease;
  border-radius: 2px;
}

.nav-link:hover::after,
.nav-link.active::after {
  width: 100%;
}


/* Estilos para el logo */
.logo-container {
  display: flex;
  align-items: center;
}

.logo-img {
  height: 4rem; /* Logo más grande */
  width: auto;
  transition: transform 0.3s ease;
}

.logo-container:hover .logo-img {
  transform: scale(1.05);
}
